@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

@font-face {
    font-family:"Gmarket";
    src: url("../font/GmarketSansTTFMedium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Gmarket";
    src: url("../font/GmarketSansTTFBold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: 'Gmarket';
    background-color: #ffe3e2;
    background: url("../img/main-patten.png") repeat;
}

.container{
    margin:0 auto;
    width: 100%;
    max-width: 600px;
    height: 100%;
    text-align: center;

}
.fixed {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#main h3{
    font-weight: bold;
    font-size: 65px;
}
#main p{
    margin: 20px 0;
    font-size: 25px;
}

#main button{
    width: 80%;
    padding: 30px 0;
    background-color: #41535a;;
    border: 5px solid #000;
    border-radius: 10px;
    color:#fff;
    font-size: 18px;
    box-shadow: 3px 5px 5px #5858583d;
}
#main button:hover{
    background-color: #f34545;
}

#main .mainImgArea{
    position: relative;
}

#main .mainImgArea .mainImg{
    width: 80%;
}
#main .mainImgArea .rotateImg{
    position: absolute;
    bottom: 4px;
    left: 80px;
    width: 44%;
    transform-origin: bottom left;
    animation: rotate 2s infinite;
}

#main .sticker{
    width: 100%;
    position: relative;
}
#main .sticker img{
    position: absolute;
    right: 10%;
    bottom: 55px;
    width: 25%;
}



:root{
    --main-bg-color: rgb(255, 51, 78);
}



	
@media all and (max-width:500px) {
    #main h3 {
        font-size: 50px;
    }
    #main .sticker img {
        bottom: 65px;
    }

}

@media all and (max-width:350px) {
    #main h3 {
        font-size: 50px;
    }
    #main .sticker img {
        display: none;
    }

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
  
    50% {
        transform: rotate(11deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }